.pokecard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 400px;
    max-height: auto;

    color: black;
}

main {
    min-height: 95vh;
    margin-top: 6.5rem;
    background-color: red;
}